@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
     font-family: "Oswald", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: linear-gradient(90deg, #f96b9d, #853456);
}


.signup-panel{
    margin-top: 100px;
    margin-left: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
    height: 400px;
    border-radius:20px ;
    box-shadow: black 5px 8px 80px 10px;
    background-color: transparent;
   

}


.input{
    margin-left: 30px;
    width: 250px;
    height: 50px;
    margin-top: 30px;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: black 2px 2px 20px 2px;
    color: aliceblue;
    padding-left: 30px;
    transition: all 0.3s ease;
    border-style: none;
    
 
}


.signup-panel h1{
    text-align: center;
    padding-left: 20px;
    padding-top: 10px;
    color: #ffff;
    font-size: 40px;
    font-weight: 900;
}


.input:hover{
    transform: translateY(-3px);
     box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.btn{
    width: 120px;
    height: 40px;
    background-color: #ec78bf;
    border-radius: 30px;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    border-style: none;
    transition: 0.4s ease;
    margin-top: 10px;
}

.btn:hover{
     transform: translateY(-3px);
     box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}




.nav ul{
    padding-left: 50px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: #ffff;
    font-size: 20px;
   
}

.nav ul li{
 transition: 0.3s ease;
}


.nav ul li:hover{
 transform: translateY(-3px);
     box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


img{
    width: 450px;
    z-index: -1111    ;
    position: absolute;
    height: 300px;
    background: transparent;
    left: 520px;
    top: 200px;
    transform: rotate(-25deg);
}

.input::placeholder{
    color: #ffff;
}